/* areas of template */
main {
  background-color: #e6f2f2;
  padding: 1%;
  height: 400px;
  width: auto;
  height: 92vh;
  display: grid;
  grid-template-areas:
    "head desc"
    "list desc";
  grid-template-columns: 10% 88%;
  grid-template-rows: 8% 88%;
  grid-gap: 2%;
}
#header {
  grid-area: head;
  background-color: white;
  font-size: .8vw;
}
#listing {
  grid-area: list;
  background-color: white;
  overflow: auto;
}
#description {
  grid-area: desc;
  background-color: white;
  padding: 0 15px;
}
#create {
  grid-area: crea;
  background-color: white;
}
footer {
  text-align: center;
}

/*styling for listing area */
#header {
  text-align: center;
}
#header button {
  display: block;
  margin: 10% auto;
  height: 50%;
}
#listing h3 {
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}
.list-item {
  font-size: 1.2vw;
  display: block;
  border: solid black 1px;
  list-style: none;
  text-align: center;
  height: 30px;
  height: auto;
  margin: 0;
}
.list-item:hover {
  background-color: lightgrey;
  cursor: default;
}

/*styling for main window*/
.item {
  min-height: 50px;
  list-style: none;
  margin-top: 10px;
  padding: 5px;
  border: solid black 1px;
  background-color: lightgrey;
}
.item li {
  margin: 0 10px;
}
.item .itemNumber {
  font-size: 1.2em;
  text-align: center;
}
.item .itemDescription {

}
.item .itemDate {
  text-align: center;
}
.item .itemOptions {
  text-align: center;
  background-color: pink;
  cursor: default;
  border: solid black 2px;
  padding: 3px;
}

/*layout for main window*/
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.item .itemNumber {
  flex-grow: 1;
}
.item .itemDescription {
  flex-grow: 4;
}
.item .itemDate {
  flex-grow: 1;
}
.item .itemOptions {
  flex-grow: .5;
}
/*style for popup window*/
#popUp p {
  display: inline-block;
}
#popUp .fa-times {
  position: absolute;
  top: 2px;
  right: 5px;
  color: red;
}

#popUp {
  display: none;
  position: fixed;
  width: 500px;
  height: 600px;
  background-color: #e6f2f2;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -300px;
  border: black solid 3px;
}
